<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body >
    <img class="album-image" src="/images/kevin.jpg" alt="kevin">
    <p id="kevin">Kevin Parker is an Australian musician and songwriter. He is best known as the lead vocalist, guitarist, and primary songwriter of the psychedelic rock band Tame Impala.

        Parker was born on January 20, 1986 in Sydney, Australia. He grew up in Perth, where he became interested in music at a young age and learned to play guitar and drums. In the early 2000s, he formed Tame Impala as a home-recording project, and the band's debut album, "Innerspeaker," was released in 2010 to critical acclaim.
        
        Since then, Parker has become one of the most influential figures in modern psychedelic rock, known for his introspective and dreamy songwriting, inventive production techniques, and iconic live performances. He has released several critically acclaimed albums with Tame Impala, including "Lonerism" (2012), "Currents" (2015), and "The Slow Rush" (2020).
        
        In addition to his work with Tame Impala, Parker has collaborated with a number of other artists and producers, including Mark Ronson, Lady Gaga, and SZA, among others. He is widely regarded as one of the most talented and innovative musicians of his generation, and continues to be an influential figure in the world of music.</p>

        <a href="/">Back</a>

    </body>
</html>