<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Kevin Parker's Discography</h1>
    <div class="discography">
      <div class="album">
        <img class="album-image" src="/images/innerspeaker.png" alt="Innerspeaker">
        <p>Innerspeaker</p>
        <p>Released in 2010, Innerspeaker is Kevin Parker's debut album as Tame Impala. The album features a psychedelic and psychedelic rock sound, and is known for its layered and lush production.</p>
      </div>
      <div class="album">
        <img class="album-image" src="/images/lonerism.png" alt="Lonerism">
        <p>Lonerism</p>
        <p>Released in 2012, Lonerism is Tame Impala's second studio album. The album features a mix of psychedelic rock and pop music, and was highly acclaimed for its dreamy and introspective sound.</p>
      </div>
      <div class="album">
        <img class="album-image" src="/images/currentsImg.png" alt="Currents">
        <p>Currents</p>
        <p>Released in 2015, Currents is Tame Impala's third studio album. The album marked a departure from the psychedelic rock sound of the band's previous albums, and instead incorporates elements of funk, R&B, and electronica.</p>
      </div>
      <div class="album">
        <img class="album-image" src="/images/slowRushImg.png" alt="The Slow Rush">
        <p>The Slow Rush</p>
        <p>Released in 2020, The Slow Rush is Tame Impala's fourth studio album. The album features a psychedelic pop and funk sound, and explores themes of growth, change, and the passage of time.</p>
      </div>
    </div>
    <a href="/">Back</a>
</body>
</html>