body {
    text-align: center;
    text-justify: inter-word;
   background-color: aquamarine;
  }

p{
  text-align: center;
  text-justify: inter-word;
}

a{
  text-align: center;
  text-justify: inter-word;
}

.discography {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.album {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  text-align: center;
}
.album-image {
  width: 200px;
  height: 200px;
  border-radius: 20%;
  margin-bottom: 10px;
}

#kevin{
  font-size: 24px;
  line-height: 1.5;
  margin: 30px;
}
 
#buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
 }

 button{
  background-color: lightblue;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 20px;
  border-radius: 20px;
  padding: 20px 40px;
  margin-bottom: 10px;
 }